@media screen and (min-width: 768px) {
  .b-user-item {
    &__content-descr {
      &_1 {
        width: 99%;
      }
    }
    &__content-title {
      max-width: 100%;
    }
    &__content-descr {
      &_1 {
        margin-bottom: -4px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .b-user-item {
    flex-direction: row;
    align-items: flex-start;

    &__icon {
      margin-right: 8px;
    }
    &__content {
      width: 77%;
      margin-top: 26px;
    }
    &__content-title {
      margin-bottom: 7px;
      text-align: left !important;
    }
    &__content-descr {
      text-align: left !important;
    }
  }
}

@media screen and (min-width: 2560px) {
  .b-user-item {
    &__content-title {
      max-width: 99%;
    }
    &__content-descr {
      &_1 {
        width: 100%;
      }
    }
  }
}
