@import "../../../../../assets/styles/common";

.w-users {
  overflow: hidden;
}

.b-users {
  padding-top: 67px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 15px;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__user-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__content {
    margin-bottom: 30px;
    width: 100%;
  }
}
