$primaryColor: #ef6c00;
$secondaryColor: #283593;
$backgroundColor: #ffffff;

$color-1: #9c9b9b;
$color-2: #ffffff;
$color-3: #5f5fc4;
$color-4: #000000;
$color-5: #4c4b4b;
$color-6: #ee6c00;
$color-7: #F49D55;
$color-8: #FEE6D2;
$color-9: #d7d7d7;
$color-10: #8d8c8c;
$color-11: #1b1a1a;
$color-12: #9c9b9b7a;