@font-face {
    font-family: 'OverpassSemiBold';
    src: url('../fonts/overpass/OverpassSemiBold.eot');
    src: url('../fonts/overpass/OverpassSemiBold.eot') format('embedded-opentype'),
    url('../fonts/overpass/OverpassSemiBold.woff2') format('woff2'),
    url('../fonts/overpass/OverpassSemiBold.woff') format('woff'),
    url('../fonts/overpass/OverpassSemiBold.ttf') format('truetype'),
    url('../fonts/overpass/OverpassSemiBold.svg#OverpassSemiBold') format('svg');
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/sourceSansPro/SourceSansProRegular.eot');
    src: url('../fonts/sourceSansPro/SourceSansProRegular.eot') format('embedded-opentype'),
    url('../fonts/sourceSansPro/SourceSansProRegular.woff2') format('woff2'),
    url('../fonts/sourceSansPro/SourceSansProRegular.woff') format('woff'),
    url('../fonts/sourceSansPro/SourceSansProRegular.ttf') format('truetype'),
    url('../fonts/sourceSansPro/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
}


@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/sourceSansPro/SourceSansProBold.eot');
    src: url('../fonts/sourceSansPro/SourceSansProBold.eot') format('embedded-opentype'),
    url('../fonts/sourceSansPro/SourceSansProBold.woff2') format('woff2'),
    url('../fonts/sourceSansPro/SourceSansProBold.woff') format('woff'),
    url('../fonts/sourceSansPro/SourceSansProBold.ttf') format('truetype'),
    url('../fonts/sourceSansPro/SourceSansProBold.svg#SourceSansProBold') format('svg');
}
